<html>
<head>
  <title>CCL_relativos</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- with Buttons and other features, from https://datatables.net/download/ -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/sl-1.3.1/datatables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/sl-1.3.1/datatables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
/* some personal style */
.dataframe {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.dataframe thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 5px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.dataframe tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 5px;
    text-shadow: 1px 1px 1px #fff;
}
/* works together with below hover */
td.highlight {
    background-color: whitesmoke !important;
}
</style>
</head>

<body>
<h1>CCL relativos</h1>
<p>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Ayuda
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Se muestran sólo los tickers cuyo volumen es "relevante" (<code>AR_Vol</code> mayor que el 25% quantile)
          <li>Entre 10:00am y 11:30am hora argentina <code>AR_val</code> y otros aparecen en *cero* (feed de BYMA), hasta que abra el mercado local
          <li><code>CCL_pct</code>: valor relativo PORCENTUAL de cada CCL respecto del que está a la mitad del rango (mediana)
          <li><code>AR_val</code>: de <a href="https://www.byma.com.ar/wp-admin/admin-ajax.php?action=get_panel&panel_id=5">BYMA</a>
          <li><code>USD_val</code>: de <a href="https://finance.yahoo.com/">Yahoo finance</a>
          <li><code>ZRank</code>: de <a href=https://www.zacks.com/>https://www.zacks.com</a>
          <li>Auto-recarga cada 1min
          <li>Ejemplos de uso del campo "Search:"
            <ol>
              <li><code>buy</code> -- para encontrar oportunidades de compra con CCL "bajo" (relativo al resto)
              <li><code>sell</code> -- para encontrar oportunidades de venta con CCL "alto" (relativo al resto)
              <li><code>cdo</code> -- para encontrar oportunidades de compra/venta de contado
              <li><code>cdo.*buy</code> -- 1 y 3
              <li><code>cdo.*sell</code> -- 2 y 3
              <li><code>fb|aapl|amzn|nflx|goog|msft</code> -- muestra estas 5 acciones (aka "FAANG" + M$)
            </ol>
        </ul>
      </div>
    </div>
  </div>
</div>
<p>
{{ table | safe }}
<script>
$(document).ready( function () {
  getDT();
} );

function getDT() {
  // THE datatable
  var table = $('#dataframe').DataTable({
    ajax: {
      url: "/table",
      dataSrc: 'data',
    },
    // sort by `order_idx` column
    order: [[ {{ order_idx }}, "asc" ], [ 0, "asc" ]],
    processing: true,
    pageLength: 50,
    dom: 'Bfrtip',
    // 3 buttons: reload, copy, copy current page
    search: {
      regex: true,
    },
    buttons: [
      {
        text: 'Reload',
        action: function ( e, dt, node, config ) {
          dt.ajax.reload();
        }
      },
      'copy',
      {
        extend: 'copy',
        text: 'Copy current page',
        exportOptions: {
          modifier: {
            page: 'current'
          }
        }
      },
    ],
    // lock header at top
    fixedHeader: true,
    // lock left column
    fixedColumns: {
      leftColumns: 1
    },
    // allow natural rows selector (useful for further `copy`)
    select: true,
  });

  // don't raise modal window on error (will go to console)
  $.fn.dataTable.ext.errMode = 'throw';

  // auto table reload
  setInterval( function () {
    // user paging is not reset on reload
    table.ajax.reload( null, false );
  }, 60000 );

  // row + col highlighting on hover
  $('#dataframe tbody')
    .on( 'mouseenter', 'td', function () {
      var colIdx = table.cell(this).index().column;

      $( table.cells().nodes() ).removeClass( 'highlight' );
      $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
    } );
}
</script>
</body>
</html>
<!--
  vim: et si sw=2 ts=2
-->
